*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

body,
h1,
h2,
p,
figure,
.links-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    /* remover macação de lista  */

}

/*  Impportante para uso de medidas relativas REM */
html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);

}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;

    a {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}

.topo {
   
    
    background-color: var(--cor-clara);
    position: sticky;
    top: 0;

/*  Classe .limitador especifica para uso no cabeçalho/.topo: além das configurações gerais (width e margin), Aqui ela tambem tem altura e ajuste do flex */
.limitador {
     height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


}

/* Classe .limitador de uso geral: Sempre terá largura de 95vw e margin auto não importando onde será aplicada. */
.limitador {
    width: 95vw;
    margin: auto;
    /* background-color: yellow; */
}



.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover,
.menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* Estilos para lista ul contida no menu nav */
.links-menu {
    /* Atenção! Neste ponto, fazemos com que os links do menu iniciem escondidos (displey:none) em telas pequenas. Posteriormente, com JS, faremos os comandos necessario para exibir/esconder de forma alternada. */
    display: none;
}

a {
    color: var(--cor-escura);
    font-weight: bold;
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-menu.aberto {
    /* Usamos para desfazer o display:none  */
    display: flex;

    /* para colocar em coluna */
    flex-direction: column;

    /* para ajustar a posição final */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    h2,
    p {
        color: var(--cor-clara);
        display: inline;
        text-align: center;
        animation-name: animaDestaque;
        animation-duration: .5s;
    }


    h2 {
        font-size: clamp(3rem, 10vw, 7rem);
    }

    p {
        font-size: clamp(1, 5rem, 3vw, 3rem);
        animation-delay: .5s;
        animation-fill-mode: backwards;
    }
}

/*  Sobre a função clamp() 
Função útil para redimensionamento responsivo de acordo com criterios de tamahos mínimos, ideal/ variável/responsivo e máximo. Uso mais comum é para textos responsivos, mas pode ser usada com qualquer propriedade que envolva tamanhos (width, height etc..)


clamp(
)
*/

@keyframes animaDestaque {
    font {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 0.5;
        transform: scale(1);
    }
}


article {
    h2 {
        padding: 1rem;
        font-size: 1.4rem;
        font-family: Raleway, sans-serif;
        color: var(--cor-titulo);
    }

    p {
        padding: .5rem 0;
        font-size: 1.2rem;
    }

    address { 
        font-size: 1.2rem;
        font-style: normal;
    }
}

.front-end,
.historia,
.localizacao {
    text-align: center;

}

.historia { 
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    
    h2 {
         color: var(--cor-clara);
         font-size: 30px;
         text-shadow: 2px 2px 4px ;
        }
iframe { 
    width: 100%;
    margin-bottom: 2rem;
    max-width: 700px;
}
}

.localizacao { 
    iframe {
    width: 100%;
    margin-top: 2rem;}
}

footer {
    background-color: var(--cor-escura);
    height: 30vh;
    display: flex;                  
    justify-content: center;        
    align-items: center; 
    text-align: center;
    p { color: var(--cor-clara); font-weight: bold;}
}

